/* Tùy chỉnh hiển thị */
td.column-short_page {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td, th {
    text-align: center; /* Căn giữa nội dung */
}

.boolean-icon {
    font-size: 18px;
    color: green;
}


/* Tùy chỉnh hiển thị danh sách câu hỏi */
td.column-short_question_text {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boolean-icon {
    color: green;
    font-weight: bold;
}

td, th {
    text-align: center;
}
